<div class="container">
	<div class="row"><h1><b><%= params['word'].capitalize %></b></h1></div>
	<div class="row">
		<div class="col-60">
			<div class="row">
				<h3 class="pull-left">STEP 1: </h3><p class="top_30">Say <i><b><%= params['word'].capitalize %> </b></i> 3 times</p>
			</div>
			<div class="row">
				<h3 class="pull-left">STEP 2: </h3><p class="top_30"><i><b><%= params['word'].capitalize %> </b></i> used in context</p>
				<% (0..params["examples_count"].to_i).each_with_index do |value,index| %>
					<% if params["example_#{index}_check"] == "1" %>
						<% example = eval(params["example_#{index}"]) %>
						<p class="width_100">
							<%= example['text']%>
						</p>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-40">
			<p class="width_100">
				<%= image_tag params["picture"] %>
			</p>
	</div>

	<div class="row">
		<h3 class="pull-left">STEP 3: </h3><p class="top_30"><i><b><%= params['word'].capitalize %></b></i> definition</p>
		<% (0..params["definitions_count"].to_i).each_with_index do |value,index| %>
			<% if params["part_of_speech_#{index}_check"] == "1" %>
				<% definition = eval(params["part_of_speech_#{index}"]) %>
				<p class="width_100">
					<%= definition['partOfSpeech'] + "-" + definition['text']%>
				</p>
			<% end %>
		<% end %>
	</div>
	<div class="row">
		<h3 class="pull-left">STEP 4: </h3><p class="top_30"><i><b><%= params['word'].capitalize %></b></i> elementary definition</p>
		<% (0..params["elem_def_count"].to_i).each_with_index do |value,index| %>
			<% if params["elem_def_#{index}_check"] == "1" %>
				<% elementary_definition = eval(params["elem_def_#{index}"]) %>
				<p class="width_100">
					<%= elementary_definition['word'] + '-' + elementary_definition['grammar'] + '-' + elementary_definition['text'] %>
				</p>
			<% end %>
		<% end %>
	</div>
	<div class="row">
		<h3 class="pull-left">STEP 5: </h3><p class="top_30"><i><b><%= params['word'].capitalize %></b></i> challenges</p>
		<% (0..params["definitions_count"].to_i).each_with_index do |value,index| %>
			<% if params["relationship_type_#{index}_check"] == "1" %>
				<% related_words = eval(params["relationship_type_#{index}"]) %>
				<p class="width_100">
					<%= related_words['relationshipType'] + "=" + related_words['words'].join(",") %>
				</p>
			<% end %>
		<% end %>
	</div>
	<div class="row">
		<h3 class="pull-left">STEP 6: </h3><p class="top_30"><i><b><%= params['word'].capitalize %></b></i> student activity</p>
		<% if params["student_activity"] %>
			<p class="width_100">
				<%= params["student_activity"] %>
			</p>
		<% end %>
	</div>
	<div class="row">
		<h3 class="pull-left">STEP 7: </h3><p class="top_30"><i><b><%= params['word'].capitalize %></b></i> mastery activity</p>
		<% if params["mastery_activity"] %>
			<p class="width_100">
				<%= params["mastery_activity"] %>
			</p>
		<% end %>

	</div>
</div>